files-fpml/schemas/fpml5-3/recordkeeping/fpml-valuation-reporting-5-3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2011 All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:view="http://www.fpml.org/views" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/recordkeeping" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/recordkeeping" ecore:documentRoot="FpML" ecore:nsPrefix="" ecore:package="org.fpml.recordkeeping" version="$Revision: 8571 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-business-events-5-3.xsd" />
  <xsd:include schemaLocation="fpml-valuation-5-3.xsd" />
  <xsd:complexType name="ReportContents">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type used to describe the scope/contents of a report.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyReference" type="PartyReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The party for which this report was generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="accountReference" type="AccountReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The account for which this report was generated.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="category" type="TradeCategory" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to categorize trades into user-defined categories, such as house trades vs. customer trades.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productType" type="ProductType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A classification of the type of product. FpML defines a simple product categorization using a coding scheme.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="productId" type="ProductId" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A product reference identifier. The product ID is an identifier that describes the key economic characteristics of the trade type, with the exception of concepts such as size (notional, quantity, number of units) and price (fixed rate, strike, etc.) that are negotiated for each transaction. It can be used to hold identifiers such as the "UPI" (universal product identifier) required by certain regulatory reporting rules. It can also be used to hold identifiers of benchmark products or product temnplates used by certain trading systems or facilities. FpML does not define the domain values associated with this element. Note that the domain values for this element are not strictly an enumerated list.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="assetClass" type="AssetClass" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A classification of the risk class of the trade. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="queryPortfolio" type="QueryPortfolio" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The desired query portfolio.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PortfolioValuationItem">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type used in valuation enquiry messages which relates a portfolio to its trades and current value.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="portfolio" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Portfolio identifier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Zero or more trade valuation items.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="valuationSet" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The portfolio valuation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestValuationReport">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining the content model for a message allowing one party a report containing valuations of one or many existing trades.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="reportContents" type="ReportContents" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The specific characteristics to be included in the report.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date for which this report is requested.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" />
          <xsd:element ref="market" minOccurs="0" />
          <xsd:element name="portfolioValuationItem" type="PortfolioValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An instance of a unique portfolio valuation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An instance of a unique trade valuation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TradeValuationItem">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type used in trade valuation enquiry messages which relates a trade identifier to its current value.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="partyTradeIdentifier" type="PartyTradeIdentifier" maxOccurs="unbounded" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">One or more trade identifiers needed to uniquely identify a trade.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="trade" type="Trade" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Fully-described trades whose values are reported.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element ref="valuationSet" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The trade valuation.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValuationReport">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining the content model for a message normally generated in response to a RequestValuationReport request.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="reportIdentification" type="ReportIdentification" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Identifiers for the report instance and section.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="reportContents" type="ReportContents" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The specific characteristics included in the report.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="asOfDate" type="IdentifiedDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date for which this request was generated.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" />
          <xsd:element ref="market" minOccurs="0" />
          <xsd:element name="portfolioValuationItem" type="PortfolioValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An instance of a unique portfolio valuation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tradeValuationItem" type="TradeValuationItem" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A collection of data values describing the state of the given trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="portfolio" type="Portfolio">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Global portfolio element used as a basis for a substitution group.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="queryPortfolio" type="QueryPortfolio" substitutionGroup="portfolio">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Global element used to substitute for "portfolio".</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:annotation>
    <xsd:documentation xml:lang="en">Reporting messages.</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="requestValuationReport" type="RequestValuationReport" />
  <xsd:element name="valuationReport" type="ValuationReport" />
  <xsd:element name="valuationReportAcknowledgement" type="Acknowledgement" />
  <xsd:element name="valuationReportException" type="Exception" />
</xsd:schema>

