schemas/fpml5-1/reporting/fpml-collateral-processes-5-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
== Copyright (c) 2002-2010. All rights reserved. 
== Financial Products Markup Language is subject to the FpML public license. 
== A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/reporting" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/reporting" ecore:documentRoot="FpML" ecore:nsPrefix="rpt" ecore:package="org.fpml.reporting" version="$Revision: 2350 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-business-events-5-1.xsd" />
  <xsd:include schemaLocation="fpml-reconciliation-5-1.xsd" />
<!-- MC1 Margin Call Message Definition -->
  <xsd:complexType name="RequestMargin">
    <xsd:complexContent>
      <xsd:extension base="CorrectableRequestMessage">
        <xsd:sequence>
          <xsd:element name="marginCallIssuer" type="PartyReference" minOccurs="0" />
          <xsd:element name="marginCallReceiver" type="PartyReference" minOccurs="0" />
          <xsd:element name="creditSupportAgreement" type="CreditSupportAgreement" minOccurs="0" />
          <xsd:element name="valuationDate" type="xsd:date" minOccurs="0" />
          <xsd:element name="baseCurrency" type="Currency" minOccurs="0" />
          <xsd:group ref="MarginDetails.model" />
          <xsd:element name="marginRequirement" type="MarginRequirement" minOccurs="0" />
          <xsd:element name="marginCallResult" type="MarginCallResult" minOccurs="0" />
          <xsd:element name="expectedCollateral" type="ExpectedCollateral" minOccurs="0" />
          <xsd:element name="assets" type="Assets" minOccurs="0" />
          <xsd:group ref="PartiesAndAccounts.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- MC2 Rescind Margin Call Message Definition -->
  <xsd:complexType name="RequestMarginRetracted">
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence minOccurs="0">
          <xsd:group ref="PayerReceiver.model" />
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0" />
          <xsd:element name="collateralRetractionReason" type="CollateralRetractionReason" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- Margin Call Response (full agreement: MC3b / full dispute: MC5 / partial dispute: MC6) Message Definition -->
  <xsd:complexType name="MarginCallStatus">
    <xsd:complexContent>
      <xsd:extension base="ResponseMessage">
        <xsd:sequence>
          <xsd:element name="marginCallIssuer" type="PartyReference" minOccurs="0" />
          <xsd:element name="marginCallReceiver" type="PartyReference" minOccurs="0" />
          <xsd:element name="creditSupportAgreement" type="CreditSupportAgreement" minOccurs="0" />
          <xsd:element name="valuationDate" type="xsd:date" minOccurs="0" />
          <xsd:element name="baseCurrency" type="Currency" minOccurs="0" />
          <xsd:group ref="MarginDetails.model" minOccurs="0" />
          <xsd:element name="agreedAmount" type="AgreedAmount" minOccurs="0" />
          <xsd:element name="marginCallResponseReason" type="MarginCallResponseReason" minOccurs="0" maxOccurs="unbounded" />
          <xsd:group ref="PartiesAndAccounts.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- MC3c Propose Collateral Message Definition -->
  <xsd:complexType name="RequestCollateralAcceptance">
    <xsd:complexContent>
      <xsd:extension base="ResponseMessage">
        <xsd:sequence>
          <xsd:element name="marginCallIssuer" type="PartyReference">
            <xsd:annotation>
              <xsd:documentation>The party that issues the margin call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="marginCallReceiver" type="PartyReference">
            <xsd:annotation>
              <xsd:documentation>The party that receives the margin call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="agreedAmount" type="AgreedAmount" minOccurs="0" />
          <xsd:group ref="ProposedCollateral.model" />
          <xsd:element name="assets" type="Assets">
            <xsd:annotation>
              <xsd:documentation>The list of assets to be moved.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- MC4 Rescind Margin Call Response Definition -->
  <xsd:complexType name="MarginCallStatusRetracted">
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence minOccurs="0">
          <xsd:group ref="PayerReceiver.model" />
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0" />
          <xsd:element name="collateralRetractionReason" type="CollateralRetractionReason" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- accept (MC7) and reject (MC8) proposed collateral: combined Response Message Definition -->
  <xsd:complexType name="CollateralProposalStatus">
    <xsd:complexContent>
      <xsd:extension base="ResponseMessage">
        <xsd:sequence>
          <xsd:element name="marginCallIssuer" type="PartyReference">
            <xsd:annotation>
              <xsd:documentation>The party that issues the margin call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="marginCallReceiver" type="PartyReference">
            <xsd:annotation>
              <xsd:documentation>The party that receives the margin call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="ProposedCollateralResponse.model" />
          <xsd:element name="assets" type="Assets">
            <xsd:annotation>
              <xsd:documentation>The list of assets to be moved.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="PartiesAndAccounts.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- MC11 Acknowledge Dispute Message Definition -->
  <xsd:complexType name="DisputeNotification">
    <xsd:complexContent>
      <xsd:extension base="NotificationMessage">
        <xsd:sequence>
          <xsd:element name="marginCallIssuer" type="PartyReference">
            <xsd:annotation>
              <xsd:documentation>The party that issues the margin call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="marginCallReceiver" type="PartyReference">
            <xsd:annotation>
              <xsd:documentation>The party that receives the margin call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="creditSupportAgreement" type="CreditSupportAgreement">
            <xsd:annotation>
              <xsd:documentation>References the legal agreement.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valuationDate" type="xsd:date" minOccurs="0" />
          <xsd:element name="baseCurrency" type="Currency" minOccurs="0" />
          <xsd:group ref="DisputedDetails.model" />
          <xsd:group ref="PartiesAndAccounts.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DisputeRetracted">
    <xsd:complexContent>
      <xsd:extension base="NonCorrectableRequestMessage">
        <xsd:sequence minOccurs="0">
          <xsd:group ref="PayerReceiver.model" />
          <xsd:group ref="PartiesAndAccounts.model" minOccurs="0" />
          <xsd:element name="collateralRetractionReason" type="CollateralRetractionReason" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!-- Type Definitions -->
  <xsd:complexType name="AggregatedIndependentAmount">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="trade" type="IndependentAmountType" minOccurs="0" />
      <xsd:element name="valueAtRisk" type="IndependentAmountType" minOccurs="0" />
      <xsd:element name="netOpenPosition" type="IndependentAmountType" minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="AgreedAmount">
    <xsd:choice>
      <xsd:sequence>
        <xsd:group ref="GiverTaker.model" />
        <xsd:element name="variationMargin" type="Money">
          <xsd:annotation>
            <xsd:documentation>variation margin part of the agreed amount.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="Money" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="Money">
        <xsd:annotation>
          <xsd:documentation>segregated independent amount part of the agreed amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Assets">
    <xsd:sequence>
      <xsd:element ref="underlyingAsset" maxOccurs="unbounded" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CashDeliveryReturn">
    <xsd:sequence>
      <xsd:element name="assetReference" type="AssetReference" minOccurs="0" />
      <xsd:element name="nominalAmount" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="valueDate" type="xsd:date" minOccurs="0" />
      <xsd:element name="marketValue" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="haircut" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="collateralValue" type="xsd:decimal" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CashType">
    <xsd:sequence>
      <xsd:element name="currency" type="Currency" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CollateralBalance">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="variationMargin" type="MarginCollateral">
          <xsd:annotation>
            <xsd:documentation>variation margin part of the collateral balance.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="MarginCollateral" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="MarginCollateral">
        <xsd:annotation>
          <xsd:documentation>segregated independent amount part of the collateral balance.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DisputedCollateral">
    <xsd:sequence>
      <xsd:element name="disputedAmount" type="Money" minOccurs="0" />
      <xsd:element name="disputeDate" type="xsd:date" minOccurs="0" />
      <xsd:element name="disputeResolutionMethod" type="DisputeResolutionMethod" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExpectedCollateral">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="variationMargin" type="ExpectedCollateralDeliveryReturn">
          <xsd:annotation>
            <xsd:documentation>variation margin part of the expected collateral.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="ExpectedCollateralDeliveryReturn" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="ExpectedCollateralDeliveryReturn">
        <xsd:annotation>
          <xsd:documentation>segregated independent amount part of the expected collateral.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ExpectedCollateralDeliveryReturn">
    <xsd:sequence>
      <xsd:element name="deliver" type="ExpectedCollateralDelivery" minOccurs="0" />
      <xsd:element name="return" type="ProposedCollateralDeliveryReturn" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExpectedCollateralDelivery">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="cashType" type="CashType" minOccurs="0" />
      <xsd:element name="securityType" type="SecurityType" minOccurs="0" />
      <xsd:element name="letterOfCreditType" type="LetterOfCreditType" minOccurs="0" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ExpectedCollateralReturn">
    <xsd:sequence>
      <xsd:group ref="DeliverReturn.model" />
      <xsd:group ref="BondChoice.model" />
<!-- references FpML's bond or convertibleBond underlyer -->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Exposure">
    <xsd:sequence>
      <xsd:group ref="MarkToMarketExposureParty.model" />
      <xsd:element name="exposureAmount" type="Money" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeldCollateral">
    <xsd:sequence>
      <xsd:element name="holdingPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="postingPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="paymentAmount" type="Money" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndependentAmountType">
    <xsd:sequence>
      <xsd:group ref="GiverTaker.model" />
      <xsd:element name="paymentAmount" type="Money" minOccurs="0" />
      <xsd:element name="convention" type="IndependentAmountConventionEnum" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LcSummary">
<!-- Type borrowed from FpML 4.7 Loan definitions (fpml-loan-4-7.xsd). Expected to be present/refactored in FpML 5.1 -->
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A basic set of fields to identify an LC. Please note that the partyReference within the contract identifier should refer to the Issuing Bank.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identifier" type="ContractIdentifier" maxOccurs="unbounded" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LetterOfCredit">
    <xsd:complexContent>
      <xsd:extension base="LcSummary">
        <xsd:sequence>
          <xsd:element name="amount" type="xsd:decimal" minOccurs="0" />
          <xsd:element name="valueDate" type="xsd:date" minOccurs="0" />
          <xsd:element name="marketValue" type="xsd:decimal" minOccurs="0" />
          <xsd:element name="haircut" type="xsd:decimal" minOccurs="0" />
          <xsd:element name="collateralValue" type="xsd:decimal" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LetterOfCreditType">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarginCallResult">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="variationMargin" type="VariationResult">
          <xsd:annotation>
            <xsd:documentation>summary of the variation margin.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="VariationResult" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="VariationResult">
        <xsd:annotation>
          <xsd:documentation>summary of the segregated independent amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="MarginCollateral">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="pendingCollateral" type="PendingCollateral" maxOccurs="2">
          <xsd:annotation>
            <xsd:documentation>pending collateral</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="heldCollateral" type="HeldCollateral" minOccurs="0" maxOccurs="2" />
      </xsd:sequence>
      <xsd:element name="heldCollateral" type="HeldCollateral" maxOccurs="2">
        <xsd:annotation>
          <xsd:documentation>held collateral</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="MarginRequirement">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="variationMargin" type="VariationRequirement">
          <xsd:annotation>
            <xsd:documentation>variation margin requirement</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="VariationRequirement" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="VariationRequirement">
        <xsd:annotation>
          <xsd:documentation>segregated independent amount requirement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="MarginRequirementDeliver">
    <xsd:sequence>
      <xsd:group ref="DeliverReturn.model" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarginRequirementReturn">
    <xsd:sequence>
      <xsd:group ref="DeliverReturn.model" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarginTerm">
    <xsd:sequence>
      <xsd:element name="currency" type="Currency" minOccurs="0" />
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="variationMargin" type="VariationMarginTerm">
            <xsd:annotation>
              <xsd:documentation>variation margin terms</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="segregatedIndependentAmount" type="SegregatedIndependentAmountMarginTerm" minOccurs="0" />
        </xsd:sequence>
        <xsd:element name="segregatedIndependentAmount" type="SegregatedIndependentAmountMarginTerm">
          <xsd:annotation>
            <xsd:documentation>segregated independent amount terms</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MarkToMarket">
    <xsd:sequence>
      <xsd:element name="exposure" type="Exposure" minOccurs="0" maxOccurs="2" />
      <xsd:element name="convention" type="MarkToMarketConventionEnum" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PendingCollateral">
    <xsd:sequence>
      <xsd:group ref="GiverTaker.model" />
      <xsd:element name="paymentAmount" type="Money" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProposedCollateral">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="deliver" type="ProposedCollateralDeliveryReturn">
          <xsd:annotation>
            <xsd:documentation>proposed collateral to be delivered</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="return" type="ProposedCollateralDeliveryReturn" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="return" type="ProposedCollateralDeliveryReturn">
        <xsd:annotation>
          <xsd:documentation>proposed collateral to be returned</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ProposedCollateralDeliveryReturn">
    <xsd:sequence>
      <xsd:element name="deliveringPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="receivingPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:choice maxOccurs="unbounded">
        <xsd:element name="cash" type="CashDeliveryReturn" minOccurs="0" />
        <xsd:element name="security" type="SecurityDeliveryReturn" minOccurs="0" />
        <xsd:element name="letterOfCredit" type="LetterOfCredit" minOccurs="0" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProposedCollateralResponse">
    <xsd:sequence>
      <xsd:element name="proposalApproved" type="xsd:boolean" minOccurs="0" />
      <xsd:element name="collateralResponseReason" type="CollateralResponseReason" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="expectedCollateral" type="ExpectedCollateralDeliveryReturn" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityDeliveryReturn">
    <xsd:sequence>
      <xsd:element name="assetReference" type="AssetReference" minOccurs="0" />
      <xsd:element name="valueDate" type="xsd:date" minOccurs="0" />
      <xsd:choice>
        <xsd:group ref="NominalAmount.model" />
        <xsd:group ref="UnitContract.model" />
      </xsd:choice>
      <xsd:element name="marketValue" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="haircut" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="collateralValue" type="xsd:decimal" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SecurityType">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SegregatedIndependentAmountMarginTerm">
    <xsd:sequence>
      <xsd:group ref="TransferDetails.model" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Threshold">
    <xsd:sequence>
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="type" type="ThresholdTypeEnum" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransferRounding">
    <xsd:sequence>
      <xsd:element name="direction" type="RoundingDirectionEnum" minOccurs="0" />
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VariationMarginTerm">
    <xsd:sequence>
      <xsd:element name="threshold" type="Threshold" minOccurs="0" />
      <xsd:group ref="TransferDetails.model" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VariationRequirement">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="deliver" type="MarginRequirementDeliver">
          <xsd:annotation>
            <xsd:documentation>variation margin to be delivered</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="return" type="MarginRequirementReturn" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="return" type="MarginRequirementReturn">
        <xsd:annotation>
          <xsd:documentation>variation margin to be returned</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="VariationResult">
    <xsd:group ref="MarginCallResult.model" />
  </xsd:complexType>
<!-- Reason Types -->
  <xsd:complexType name="CollateralResponseReason">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="reasonCode" type="CollateralResponseReasonCode">
          <xsd:annotation>
            <xsd:documentation>standard reason codes used for the collateral response message</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="description" type="xsd:string" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>free form description of the reason</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="CollateralResponseReasonCode">
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="reasonCodeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/collateral-response-reason-code" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CollateralRetractionReason">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="reasonCode" type="CollateralRetractionReasonCode">
          <xsd:annotation>
            <xsd:documentation>reason codes that specify the reason for retraction</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="description" type="xsd:string" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>free form description of the reason</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="CollateralRetractionReasonCode">
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="reasonCodeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/collateral-retraction-reason-code" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DisputeResolutionMethod">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="resolutionCode" type="DisputeResolutionCode">
          <xsd:annotation>
            <xsd:documentation>reason codes that specify the reason for the dispute</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="description" type="xsd:string" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>free form description of the reason</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="DisputeResolutionCode">
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="reasonCodeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/collateral-dispute-resolution-method-reason-code" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MarginCallResponseReason">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="reasonCode" type="MarginCallResponseReasonCode">
          <xsd:annotation>
            <xsd:documentation>reason codes used in the margin call response</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="description" type="xsd:string" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>free form description of the reason</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="MarginCallResponseReasonCode">
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="reasonCodeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/collateral-margin-call-response-reason-code" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!-- Enumerations have been moved to fpml-enum.xsd: IndependentAmountConventionEnum, MarkToMarketConventionEnum, ThresholdTypeEnum -->
<!-- <xsd:simpleType name="SecurityTypeEnum"> enumeration not currently used, SecurityType currently free form
                <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="USTreasury"/>
                        <xsd:enumeration value="UKGilt"/>
                </xsd:restriction>
        </xsd:simpleType>-->
<!-- Model Groups -->
  <xsd:group name="DeliverReturn.model">
    <xsd:sequence>
      <xsd:element name="deliveringPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="receivingPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="currency" type="Currency" minOccurs="0" />
      <xsd:element name="amount" type="xsd:decimal" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DisputedDetails.model">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="variationMargin" type="DisputedCollateral">
          <xsd:annotation>
            <xsd:documentation>variation margin details</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="DisputedCollateral" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="DisputedCollateral">
        <xsd:annotation>
          <xsd:documentation>segregated independent amount details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="GiverTaker.model">
    <xsd:sequence>
      <xsd:element name="giverPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="takerPartyReference" type="PartyReference" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="MarginCallResult.model">
    <xsd:sequence>
      <xsd:group ref="GiverTaker.model" />
      <xsd:element name="marginCallAmount" type="Money" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="MarginDetails.model">
    <xsd:sequence>
      <xsd:element name="markToMarket" type="MarkToMarket" minOccurs="0" />
      <xsd:element name="independentAmount" type="AggregatedIndependentAmount" minOccurs="0" />
<!-- collision with existing FpML IndependentAmount, temp renamed AggregatedIndependentAmount - request coord advice -->
      <xsd:element name="marginTerm" type="MarginTerm" minOccurs="0" />
<!-- not in ISDA reqs -->
      <xsd:element name="collateral" type="CollateralBalance" minOccurs="0" />
<!-- collision with existing FpML Collateral, temp renamed CollateralBalance - request coord advice -->
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="MarkToMarketExposureParty.model">
    <xsd:sequence>
      <xsd:element name="exposedPartyReference" type="PartyReference" minOccurs="0" />
      <xsd:element name="obligatedPartyReference" type="PartyReference" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="NominalAmount.model">
    <xsd:sequence>
      <xsd:element name="nominalAmount" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="dirtyPrice" type="xsd:decimal" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ProposedCollateral.model">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="variationMargin" type="ProposedCollateral">
          <xsd:annotation>
            <xsd:documentation>variation margin details for proposed collateral</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="ProposedCollateral" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="ProposedCollateral">
        <xsd:annotation>
          <xsd:documentation>segregated independent amount details for proposed collateral</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="ProposedCollateralResponse.model">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="variationMargin" type="ProposedCollateralResponse">
          <xsd:annotation>
            <xsd:documentation>variation margin details for proposed collateral response</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="segregatedIndependentAmount" type="ProposedCollateralResponse" minOccurs="0" />
      </xsd:sequence>
      <xsd:element name="segregatedIndependentAmount" type="ProposedCollateralResponse">
        <xsd:annotation>
          <xsd:documentation>segregated independent amount details for proposed collateral response</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="TransferDetails.model">
    <xsd:sequence>
      <xsd:element name="minimumTransferAmount" type="xsd:decimal" minOccurs="0" />
      <xsd:element name="transferRounding" type="TransferRounding" minOccurs="0" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="UnitContract.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A group which has unit based trade elements (copied from FpML Extensions 2.2 - fpmlext-repo.xsd).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="numberOfUnits" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The number of units (index or securities).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unitPrice" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The price of each unit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
<!-- Collateral Messages -->
  <xsd:annotation>
    <xsd:documentation xml:lang="en">Collateral Messages</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="requestMargin" type="RequestMargin" />
<!-- MC1 -->
  <xsd:element name="requestMarginRetracted" type="RequestMarginRetracted" />
<!-- MC2 -->
  <xsd:element name="marginAcknowledgement" type="Acknowledgement" />
  <xsd:element name="marginException" type="Exception" />
<!--  -->
  <xsd:element name="marginCallStatus" type="MarginCallStatus" />
<!-- MC3b/5/6 -->
  <xsd:element name="marginCallStatusRetracted" type="MarginCallStatusRetracted" />
<!-- MC4 -->
<!--  -->
  <xsd:element name="requestCollateralAcceptance" type="RequestCollateralAcceptance" />
<!-- MC3c -->
  <xsd:element name="collateralAcceptanceAcknowledgement" type="Acknowledgement" />
  <xsd:element name="collateralAcceptanceException" type="Exception" />
<!--  -->
  <xsd:element name="collateralProposalStatus" type="CollateralProposalStatus" />
<!-- MC7/MC8 -->
<!--  -->
  <xsd:element name="disputeNotification" type="DisputeNotification" />
<!-- MC11 -->
  <xsd:element name="disputeRetracted" type="DisputeRetracted" />
  <xsd:element name="disputeAcknowledgement" type="Acknowledgement" />
  <xsd:element name="disputeException" type="Exception" />
</xsd:schema>

